a{
    font-size:40px;
}
.box
{
    margin-top: 180px;
    margin-left: 95px;
}
.block
{
    margin-top: 30px;
    margin-left: 75px;
}
.carton
{
    margin-top: 30px;
    margin-left: 50px;
}
.new
{
    margin-top: 30px;
    margin-left: 47px;
}
.op
{
    margin-top: 30px;
    margin-left: 90px;
}